html, body{
    background-color: #ffffff;
}

nav{
    position: fixed;
    background-color: #fbe3e3;
    width: 100%;
    height: 100px;
    text-decoration: none;
} 

h1{
    font-family: 'Bangers', cursive;
    font-size: 95px;
}

h2{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;
}

p{
    font-size: larger;
}

.form h2, .cart h2{
    font-size: 28px;
}

.hero H1{
    font-size: 180px;
}

a:visited{
    text-decoration: none;
    color: black;
}

a:link{
    text-decoration: none;
    color: black;
}

nav a:hover{
    text-decoration: none;
    color: #fe4710;
}

.btn-1:hover{
    color: #000000;
    background-color: #aeff00;
    border-color: #000000;
    cursor: pointer;
} 

.btn-2:hover{
    color: #000000;
    background-color: #aeff00;
    border-color: #000000;
    cursor: pointer;
}

.form input:hover{
    cursor: pointer;
}

.form label:hover{
    cursor: pointer;
}

.btn-1{
    height: 70px;
    width: 225px;
    border-radius: 50px;
    text-align: center;
    font-weight: bold;
    border: 4px solid #96b15a; 
    padding-top: 18px;  
    display: inline-block;
    background-color: #cbf078;
}

.line{
    width: 100%;
    height: 2px;
    background-color: #d7adad;
}

img{
    height: 80px;
    width: 133px;
    background-position: center;
    background-size: cover;
    margin-top: 10px;
    margin-left: 5%;
    float: left;
}


/*//////////////////////////////////////////////////////////////////////////
HOME PAGE
//////////////////////////////////////////////////////////////////////////*/


.hero{
    background-color: #fbfbfb;
    width: 100%;
    height: 740px;
    margin: 0;
    padding-top: 105px;
}

.half-1{
    width: 49.5%;
    height: 500px;
    float: left;
    padding-left: 120px;
    padding-top: 90px;
    padding-bottom: 0; 
}

.half-1 .btn-1{
    margin-right: 60px;
    margin-top: 10px;
}

.half-2{
    margin-left: 60px;
    margin-top: 5px;
    background-image: url(/assets/images/kisspng-bnh-m-submarine-sandwich-ham-and-cheese-sandwi-sub-sandwich-5b088731ace187.2261308115272855537081.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 44%;
    height: 480px;
    display: inline-block;
}

.about{
    background-color: #ff000018;
    width: 100%;
    height: 400px;
}

.about-half-1{
    width: 50%;
    display: inline-block;
    padding: 80px;
}

.about-half-2{
    width: 50%;
    float: right;
    padding-top: 50px;
    padding-left: 15px;
}

.sotm{
    background-color: #ffffff;
    width: 100%;
    height: 820px;
    padding-left: 125px;
    padding-right: 0px;
}

.half-2 .btn-1{
    margin-top: 460px;
    margin-left: 35%;
}

footer{
    background-color: #ff000018;
    width: 100%;
    height: 100px;
}

.nav-1 li{
    width: 20%;
    display: inline;
    margin-right: 6%;
    height: 24px;
}

.nav-2 li{
    width: 15%;
    display: inline;
    margin-right: 6%;
    height: 24px;
}

nav ul{
    width: 70%;
    padding: 38px;
    margin-left: 50px;
    margin-bottom: 8px;
    display: inline-flex;
}

nav input{
    position: absolute;
    float: right;
    margin-top: 34px;
    margin-right: 38px;
}

.nav-1{
    width: 100%;
    height: 110px;
    text-decoration: none;
}

.nav-2{
    width: 100%;
    height: 110px;
    text-decoration: none;
} 

.sotm h1{
    padding-top: 40px;
    padding-bottom: 25px;
}

.quarter-1{
    background-image: url(/assets/images/kisspng-bnh-m-submarine-sandwich-breakfast-sandwich-ha-sub-sandwich-5b165475bbbd41.039942951528190069769.png);
    background-position: center;
    background-size: cover;
    width: 22%;
    height: 35%;
    display: inline-table;
    margin-right: 1%;
    margin-bottom: 1%;
}

.quarter-2{
    background-image: url(/assets/images/kisspng-bnh-m-submarine-sandwich-ham-and-cheese-sandwi-sub-sandwich-5b088731ace187.2261308115272855537081.png);
    background-position: center;
    background-size: cover;
    width: 22%;
    height: 35%;
    display: inline-table;
    margin-right: 1%;
    margin-bottom: 1%;
}

.quarter-3{
    background-image: url(/assets/images/kisspng-bun-baguette-bockwurst-bratwurst-thuringian-sausag-5b329407c8f194.2272257115300413518231.png);
    background-position: center;
    background-size: cover;
    width: 22%;
    height: 35%;
    display: inline-table;
    margin-right: 1%;
    margin-bottom: 1%;
}

.quarter-4{
    background-image: url(/assets/images/kisspng-ham-and-cheese-sandwich-submarine-sandwich-breakfa-sub-sandwich-5b165476739374.4857765915281900704734.png);
    background-position: center;
    background-size: cover;
    width: 22%;
    height: 35%;
    display: inline-table;
    margin-right: 1%;
    margin-bottom: 1%;
}

.quarter-5{
    background-image: url(/assets/images/kisspng-ham-and-cheese-sandwich-submarine-sandwich-breakfa-subway-sandwich-5b3d17bea86fa0.2537666015307304306899\ \(1\).png);
    background-position: center;
    background-size: cover;
    width: 22%;
    height: 35%;
    display: inline-table;
    margin-right: 1%;
    margin-bottom: 1%;
}

.quarter-6{
    background-image: url(/assets/images/kisspng-pastrami-submarine-sandwich-delicatessen-firehouse-sub-sandwich-5b3a9cfe001397.6637407815305679340003.png);
    background-position: center;
    background-size: cover;
    width: 22%;
    height: 35%;
    display: inline-table;
    margin-right: 1%;
    margin-bottom: 1%;
}



.quarter-7{
    background-image: url(/assets/images/pngaaa.com-496582.png);
    background-position: center;
    background-size: cover;
    width: 22%;
    height: 35%;
    display: inline-table;
    margin-right: 1%;
    margin-bottom: 1%;
}

.quarter-8{
    background-image: url(/assets/images/kisspng-submarine-sandwich-barbecue-chicken-firehouse-subs-sub-sandwich-5b165469257050.2481338715281900571534.png);
    background-position: center;
    background-size: cover;
    width: 22%;
    height: 35%;
    display: inline-table;
    margin-right: 1%;
    margin-bottom: 1%;
}

.card-sotm{
    border-radius: 5px;
    border-style: solid;
    border-color: #d7adad;
}

.card-content-sotm{
    width: 100%;
    height: 260px;
    background-color: #ffffff85;
    margin: 0;
    padding-left: 10px;
    margin-bottom: 1px;
    opacity: 0;
}

.card-content-sotm:hover{
    opacity: 1;
}

.sotm h5{
    margin: 0;
    padding-bottom: 10px;
    background-color: #ffffff85;
}


/*//////////////////////////////////////////////////////////////////////////
BUILD A SUB PAGE
//////////////////////////////////////////////////////////////////////////*/


.build{
    width: 100%;
    height: 800px;
}

.form{
    background-color: #ecc4c4;
    width: 70%;
    height: 650px;   
    margin-top: 21px;
    margin-left: 3%;
    display: inline-block;
    margin-right: 2.4%;
    border-radius: 5px;
    border-style: solid;
    border-color: #d7adad;
    padding: 20px;
    padding-top: 0;
}

.form h3{
    margin-bottom: 15px;
}

.cart{
    background-color: #ecc4c4;
    width: 20%;
    height: 650px;   
    margin-top: 21px;
    margin-right: 3%;
    float: right;
    border-radius: 5px;
    border-style: solid;
    border-color: #d7adad;
}

.bas{

    margin-left: 3%;
}

.cart h2{
    padding-top: 20px;  
    padding-left: 20px; 
}

.btn-2{
    height: 11%;
    width: 75%;
    border-radius: 50px;
    text-align: center;
    font-weight: bold;
    border: 4px solid #96b15a; 
    padding-top: 18px;  
    display: inline-block;
    background-color: #cbf078;
    margin-top: 10%;
    margin-left: 12.5%;
}

.check-label{
    margin: 0;
}

.form-check{
    padding-right: 3%;
    padding-left: 0;
}

.form-left{
    width: 45%;
    padding: 22px;
}

.form-left input{
    width: 60%;
}

.form-right{
    width: 45%;
    display: inline;
    padding-left: 10%;
}

.itemCost{
    font-size: 75px;
}


.bread{
    width: 25%;
    background-color: #ffe7e7;
    border-radius: 5px;
    border-style: solid;
    border-color: #d7adad;
    margin-left: 20px;
    padding: 2%;
    margin-right: 5%;
}

.bread input{
    margin-bottom: 20px;
}

.ingredients-list{
    width: 65%;
    background-color: #ffe7e7;
    border-radius: 5px;
    border-style: solid;
    border-color: #d7adad;
    padding: 2%;
}

.ingredients-list .form-check{
    width: 20%;
    margin-bottom: 5px;
}

.ingredients-list label{
    padding-left: 4px;
}

.ingredients-list .line{
    margin-top: 28px;
    margin-bottom: 16px;
}

.form .btn-1{
    width: 30%;
    margin-left: 35%;
    margin-top: 1%;
    padding-top: 0;
}


.card{
    background-color: #d7adad;
}

.card-content{
    background-color: #ffe7e7;
    margin: 0;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: #d7adad;
}


/*//////////////////////////////////////////////////////////////////////////
CHECKOUT PAGE
//////////////////////////////////////////////////////////////////////////*/


.checkout{
    padding-top: 110px;
    height: 900px;
    width: 100%;
    background-color: #ffffff7f;
}

.order{
    text-align: center;
    width: 50%;
    height: 650px;
    background-color: #ffffff;
    float: left;
    padding: 50px;
    padding-top: 25px;
}

.payment{
    text-align: center;
    width: 50%;
    height: 850px;
    background-color: #ffffff;
    float: right;
    padding: 40px;
    padding-top: 25px;
    border-left-style: solid;
    border-color: #d7adad;
}

.checkout .btn-1{
    padding: 0;
}

.thanks .btn-1{
    padding-top: 10px;
}

.checkout-cards{
    width: 60%;
    background-color: #fbe3e3;
    border-radius: 5px;
    border-style: solid;
    border-color: #d7adad;
    padding: 25px;
    margin-bottom: 20px;
    margin-left: 21%;
}

.checkout h3{
    display: inline;
}

.buttons{
    margin-top: 40px;
    margin-bottom: 20px;
}

.checkout input{
    background-color: #fbe3e3;
}





.thanks{
    padding-top: 300px;
    padding-right: 450px;
    padding-left: 450px;
    height: 600px;
    width: 100%;
    text-align: center;
}