html, body{
    background-color: #ffffff;
}

nav{
    background-color: #ff000018;
    width: 100%;
    height: 100px;
    padding-top: 5px;
    text-decoration: none;
} 

h1{
    font-family: 'Bangers', cursive;
    font-size: 95px;
}

h2{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;
}

p{
    font-size: larger;
}

.form h2, .cart h2{
    font-size: 28px;
}

.hero H1{
    font-size: 180px;
}

a:visited{
    text-decoration: none;
    color: black;
}

a:link{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: #fe4710;
}

.btn-1{
    height: 70px;
    width: 225px;
    border-radius: 50px;
    text-align: center;
    font-weight: bold;
    border: 4px solid #96b15a; 
    padding-top: 18px;  
    display: inline-block;
    background-color: #cbf078;
}

.line{
    width: 100%;
    height: 2px;
    background-color: #00000024;
}

img{
    height: 80px;
    width: 133px;
    background-position: center;
    background-size: cover;
    margin-top: 10px;
    margin-left: 5%;
    float: left;
}


/*//////////////////////////////////////////////////////////////////////////
HOME PAGE
//////////////////////////////////////////////////////////////////////////*/


.hero{
    background-color: #fbfbfb;
    width: 100%;
    height: 630px;
    margin: 0;
}

.half-1{
    width: 49.5%;
    height: 500px;
    float: left;
    padding-left: 120px;
    padding-top: 90px;
    padding-bottom: 0; 
}

.half-1 .btn-1{
    margin-right: 60px;
    margin-top: 10px;
}

.half-2{
    margin-left: 60px;
    margin-top: 5px;
    background-image: url(/assets/images/kisspng-bnh-m-submarine-sandwich-ham-and-cheese-sandwi-sub-sandwich-5b088731ace187.2261308115272855537081.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 44%;
    height: 480px;
    display: inline-block;
}

.about{
    background-color: #ff000018;
    width: 100%;
    height: 400px;
}

.about-half-1{
    width: 50%;
    display: inline-block;
    padding: 80px;
}

.about-half-2{
    width: 50%;
    float: right;
    padding-top: 50px;
    padding-left: 15px;
}

.sotm{
    background-color: #ffffff;
    width: 100%;
    height: 800px;
    padding-left: 125px;
    padding-right: 0px;
}

.half-2 .btn-1{
    margin-top: 460px;
    margin-left: 35%;
}

footer{
    background-color: #ff000018;
    width: 100%;
    height: 100px;
}

nav li{
    display: inline;
    margin-left: 45px;
    margin-right: 45px;
    height: 24px;
}


nav ul{
    padding: 38px;
    margin-left: 50px;
    display: inline-flex;
}

nav input{
    float: right;
    margin-top: 34px;
    margin-right: 38px;
}

.nav-1{
    width: 100%;
    height: 110px;
    text-decoration: none;
} 

.sotm h1{
    padding-top: 40px;
    padding-bottom: 25px;
}

.quarter-1{
    background-image: url(/assets/images/kisspng-bnh-m-submarine-sandwich-breakfast-sandwich-ha-sub-sandwich-5b165475bbbd41.039942951528190069769.png);
    background-position: center;
    background-size: cover;
    width: 22%;
    height: 35%;
    display: inline-block;
    margin-right: 1%;
    margin-bottom: 1%;
}

.quarter-2{
    background-image: url(/assets/images/kisspng-bnh-m-submarine-sandwich-ham-and-cheese-sandwi-sub-sandwich-5b088731ace187.2261308115272855537081.png);
    background-position: center;
    background-size: cover;
    width: 22%;
    height: 35%;
    display: inline-block;
    margin-right: 1%;
    margin-bottom: 1%;
}

.quarter-3{
    background-image: url(/assets/images/kisspng-bun-baguette-bockwurst-bratwurst-thuringian-sausag-5b329407c8f194.2272257115300413518231.png);
    background-position: center;
    background-size: cover;
    width: 22%;
    height: 35%;
    display: inline-block;
    margin-right: 1%;
    margin-bottom: 1%;
}

.quarter-4{
    background-image: url(/assets/images/kisspng-ham-and-cheese-sandwich-submarine-sandwich-breakfa-sub-sandwich-5b165476739374.4857765915281900704734.png);
    background-position: center;
    background-size: cover;
    width: 22%;
    height: 35%;
    display: inline-block;
    margin-right: 1%;
    margin-bottom: 1%;
}

.quarter-5{
    background-image: url(/assets/images/kisspng-ham-and-cheese-sandwich-submarine-sandwich-breakfa-subway-sandwich-5b3d17bea86fa0.2537666015307304306899\ \(1\).png);
    background-position: center;
    background-size: cover;
    width: 22%;
    height: 35%;
    display: inline-block;
    margin-right: 1%;
    margin-bottom: 1%;
}

.quarter-6{
    background-image: url(/assets/images/kisspng-pastrami-submarine-sandwich-delicatessen-firehouse-sub-sandwich-5b3a9cfe001397.6637407815305679340003.png);
    background-position: center;
    background-size: cover;
    width: 22%;
    height: 35%;
    display: inline-block;
    margin-right: 1%;
    margin-bottom: 1%;
}



.quarter-7{
    background-image: url(/assets/images/pngaaa.com-496582.png);
    background-position: center;
    background-size: cover;
    width: 22%;
    height: 35%;
    display: inline-block;
    margin-right: 1%;
    margin-bottom: 1%;
}

.quarter-8{
    background-image: url(/assets/images/kisspng-submarine-sandwich-barbecue-chicken-firehouse-subs-sub-sandwich-5b165469257050.2481338715281900571534.png);
    background-position: center;
    background-size: cover;
    width: 22%;
    height: 35%;
    display: inline-block;
    margin-right: 1%;
    margin-bottom: 1%;
}




/*//////////////////////////////////////////////////////////////////////////
BUILD A SUB PAGE
//////////////////////////////////////////////////////////////////////////*/


.build{
    width: 100%;
    height: 690px;
}

.form{
    background-color: #ff000018;
    width: 70%;
    height: 600px;   
    margin-top: 21px;
    margin-left: 3%;
    display: inline-block;
    margin-right: 2.4%;
    border-radius: 5px;
    border: 4px solid #00000018;
    border-width: 2px;
    padding: 20px;
}

.cart{
    background-color: #ff000018;
    width: 20%;
    height: 600px;   
    margin-top: 21px;
    margin-right: 3%;
    float: right;
    border-radius: 5px;
    border: 4px solid #00000018;
    border-width: 2px;
}

.bas{
    margin-top: 30px;
    margin-left: 3%;
}

.cart h2{
    padding-top: 463px;  
    padding-left: 20px; 
}

.btn-2{
    height: 70px;
    width: 225px;
    border-radius: 50px;
    text-align: center;
    font-weight: bold;
    border: 4px solid #96b15a; 
    padding-top: 18px;  
    display: inline-block;
    background-color: #cbf078;
    margin-left:    48px;
    margin-top: 10px;
}
